In [17]:
import pandas as pd
import numpy as np
import re

In [52]:
a = {'count': [5, 0, 15, 27, 28, 2],
     'items': ['pear', 'peach', 'plum', 'grape', 'pear', 'peach'],
     'name': ['Pedro', 'Pedro', 'Pedro', 'Ramon', 'Ramon', 'Ferrero']}

A = pd.DataFrame(a)

In [7]:
A.ix[1:3, ['items', 'name']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   items   name
1  peach  Pedro
2   plum  Pedro
3  grape  Ramon

In [16]:
A.loc[(A['name']=='Pedro')&(A['items']!='plum')&(0<A['count'])&(A['count']<10)]

   count items   name
0      5  pear  Pedro

In [22]:
A[np.where([re.search(r'^pe',x) for x in A['items']], True, False)]

   count  items     name
0      5   pear    Pedro
1      0  peach    Pedro
4     28   pear    Ramon
5      2  peach  Ferrero

In [23]:
C=pd.DataFrame({'name': ['Pedro', 'Ramon', 'Ferrero'],
                'tag': ['mass', 'premium', 'mass']})

In [31]:
A['tag']= A['name'].apply(dict(zip(C['name'], C['tag'])))

ValueError: mass is an unknown string function

In [30]:
A

   count  items     name      tag
0      5   pear    Pedro     mass
1      0  peach    Pedro     mass
2     15   plum    Pedro     mass
3     27  grape    Ramon  premium
4     28   pear    Ramon  premium
5      2  peach  Ferrero     mass

In [44]:
string = ['黄焖鸡米饭（人民广场店）', '（奶茶）一点点', '麦当劳(虹桥路)']

In [45]:
string = [re.sub(pattern='[（(].*[)）]$', repl='', string=i) for i in string]

In [46]:
string

['黄焖鸡米饭', '（奶茶）一点点', '麦当劳']

In [53]:
A = A.iloc[:,1:3]

In [54]:
A

   items     name
0   pear    Pedro
1  peach    Pedro
2   plum    Pedro
3  grape    Ramon
4   pear    Ramon
5  peach  Ferrero

In [ ]:
for i in A.shape[0]:
    if